body {
    background-color: #626262;
    margin: 0;
}

#navigation {
    height: 65px;
    background: #8e5d5d;
}

#navigation ul li {
    float: left;
    min-width: 80px;
    list-style-type: none;
    position: relative;
}

#navigation ul li a {
    color: white;
    padding: 0 15px;
    font-family: "Arial", sans-serif;
    text-decoration: none;
    line-height: 65px;
    display: block;
    text-align: center;
    height: 65px;
}

#navigation ul li a:hover {
    background-color: #5c3d3d;
    text-decoration: underline;
}

#navigation .dropdown {
    position: absolute;
    padding: 0px;
    top: 100%;
    background: #837979;
    display: none;
}

#navigation .dropdown li {
    widows: 100%;
    height: 45px;
}

#navigation .dropdown li a {
    line-height: 45px;
    height: 45px;
    text-align: left;
    width: 150px;
}

#navigation li:hover .dropdown {
    display: block;
}

